*.pyc
.vscode/
.idea/
*.DS_Store
*.sqlite
*.sqlite-journal
*.fuse_hidden*
.sass-cache
logs/
powercms/media
powercms/static
powercms/settings/local.py
powercms/templates/home.html
powercms/db.sqlite3
powercms/theme
fabfile.py
development.txt
venv*
